{% extends "base.njk" %}

{% block content %}
<div class="apis">
    <h1 data-i18n="API Docs">API Documentation</h1>
    <p>API URL: <a href="https://blnexplorer.io">https://blnexplorer.io</a></p>
    <h3>1.Recent Blocks</h3>
    <blockquote>
    <p>GET /api/recent_blocks</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong> ：null</li>
    </ul>
    <ul>
        <li><strong>Return</strong> ：recent blocks info</li>
    </ul>

    <h3>2.Recent Transactions</h3>
    <blockquote>
    <p>GET /api/recent_transactions</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong> ：</li>
    </ul>
    <ul>
        <li><strong>Return</strong> ：recent transactions info</li>
    </ul>

    <h3>3.Top Accounts</h3>
    <blockquote>
    <p>GET /api/top_accounts</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong>：</li>
        <li class="args">@args {string} order_by #:rich/pos/staking</li>
    </ul>
    <ul>
        <li><strong>Return</strong> ：account ranking</li>
    </ul>

    <h3>4.Overview</h3>
    <blockquote>
    <p>GET /api/overview</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong>：null</li>
    </ul>
    <ul>
        <li><strong>Return</strong> ：blockchain info</li>
    </ul>

    <h3>5.Block Info</h3>
    <blockquote>
    <p>GET api/block/{height}</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong>：</li>
        <li class="args">@param {number/string} height/blockhash </li>
    </ul>
    <ul>
        <li><strong>Return</strong> block info</li>
    </ul>

    <h3>6.Account Info</h3>
    <blockquote>
    <p>GET api/account/{address}</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong>：</li>
        <li class="args">@param {string} address </li>
        <li class="args">@args {string} type #all:all 0:Transfer genesis:genesis 2:Lease 3:CancelLease 254:PoS Generated</li>
        <li class="args">@args {number} page </li>
    </ul>
    <ul>
        <li><strong>Return</strong> account info</li>
    </ul>

    <h3>7.Transaction Info</h3>
    <blockquote>
    <p>GET api/tx/{txhash}</p>
    </blockquote>
    <ul>
        <li><strong>Arguments</strong>：</li>
        <li class="args">@param {string} txhash </li>
    </ul>
    <ul>
        <li><strong>Return</strong> Transaction info</li>
    </ul>

    {# <pre>
/**
* message tips
* @method message
* @for Blacknet
* @param {string} msg
* @param {string} type
* @return {null}
*/
    </pre> #}
    {# <pre>
[
    {
        "transactions": [],
        "_id": "5d43180241d30669dfa1e816",
        "size": 173,
        "blockHash": "5FD01A833043F298D02F0B3D2742B98F59A367EC0467A96C22CBE383370AEA89",
        "height": 283863,
        "version": "1",
        "previous": "1A2BD5117940AC4FE59B11EAA56A6971826601776FBD6FFEA49DE78CE1D7D6A5",
        "time": "1564678144",
        "generator": "blacknet1m5734rqrpqhc3edsxffyv3fp5x868yp02u0e53fdqdpctgf3dx6szs026u",
        "contentHash": "45B0CFC220CEEC5B7C1C62C4D4193D38E4EBA48E8815729CE75F9C0AB0E4C1C0",
        "signature": "1F6C634CA323AC010283AE0A8BF5A0CBF8E3925E73719E74DE8373EB435CAB40771C5CA5DF0B641BA6CD06FD1083DE43C7D049BF279C7154B4740B3EA18BB102",
        "reward": "20.41151489",
        "__v": 0
    }
]
    </pre> #}
    {# <table>
    <thead>
    <tr>
    <th style="text-align:center">参数名称</th>
    <th style="text-align:center">类型</th>
    <th style="text-align:center">要求</th>
    <th style="text-align:left">说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td style="text-align:center">account</td>
    <td style="text-align:center">string</td>
    <td style="text-align:center">true</td>
    <td style="text-align:left">phone: +86|15102366688 email: <a href="mailto:admin@bull.im">admin@bull.im</a></td>
    </tr>
    <tr>
    <td style="text-align:center">password</td>
    <td style="text-align:center">string</td>
    <td style="text-align:center">true</td>
    <td style="text-align:left">md5(inputpassword+salt)</td>
    </tr>
    <tr>
    <td style="text-align:center">salt</td>
    <td style="text-align:center">string</td>
    <td style="text-align:center">true</td>
    <td style="text-align:left">md5(code)</td>
    </tr>
    <tr>
    <td style="text-align:center">code</td>
    <td style="text-align:center">string</td>
    <td style="text-align:center">true</td>
    <td style="text-align:left">len(6)</td>
    </tr>
    </tbody>
    </table> #}
    {# <pre>
/**
* message tips
* @method message
* @for Blacknet
* @param {string} msg
* @param {string} type
* @return {null}
*/
    </pre> #}
</div>
{% endblock %}
