{% extends "base.njk" %}

{% block content %}
<div ng-controller="blockController" id="block_detail" data-height="{{block.height}}">
    <h3 >Block Info</h3>
        <table>
        <tbody>
            <tr>
                <td class="height"  width="80">{{i18n.Height}}</td>
                <td>
                    <span class="overview_height">{{block.height}}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockVersion}}</td>
                <td>
                    <span>{{block.version}}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockHash}}</td>
                <td>
                    <span class="overview_blockHash">
                    {% if block.height != 0 %}
                        {{block.blockHash.toLowerCase()}}
                    {% else %}
                        {{block.blockHash.toUpperCase()}}
                    {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockTime}}</td>
                <td>
                    <span>${ {{block.time}}|timestr}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockSize}}</td>
                <td>
                    <span>{{block.size}} bytes</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.Reward}}</td>
                <td>
                    <span class="strong">{{block.reward}} BLN</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.Generator}}</td>
                <td>
                    <a href="/{{block.generator.toLowerCase()}}">{{block.generator.toLowerCase()}}</a>
                </td>
            </tr>
            <tr>
                <td >Prev Block</td>
                <td>
                    <a href="{{block.height-1}}">{{block.height-1}}</a>
                </td>
            </tr>
            <tr>
                <td >{{i18n.Signature}}</td>
                <td>
                    <span>{{block.signature.toLowerCase()}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 >{{i18n.Transactions}}</h3>
    <table id="block-table" class="block-detail">
        <thead>
            <tr>

                <td class="mobile-hide">{{i18n.Time}}</td>
                <td>{{i18n.Type}}</td>
                <td>{{i18n.Account}}</td>
                <td>{{i18n.Amount}}</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="isloaded" ng-repeat="tx in transactions">
                <td class='time hide'>${tx.time | timestr}</td>
                <td class="type" ng-if="tx.type == 0">
                    <a href="/${tx.txid.toLowerCase()}">Transfer</a>
                </td>
                <td class="type" ng-if="tx.type == 2 || tx.type == 3">
                    <a href="/${tx.txid.toLowerCase()}">${tx.type|txType}</a>
                </td>
                <td class="type" ng-if="tx.type < 254 && tx.type != 0 && tx.type != 2 && tx.type != 3  ">
                    <a href="/${tx.txid.toLowerCase()}">${tx.type|txType}</a>
                </td>
                <td class="type" ng-if="tx.type > 253">
                    ${tx.type|txType}
                </td>
                <td class="address" style="line-height: 1.6;">
                    <a href="/${tx.from}">${Users[tx.from] || tx.from}</a><br>
                    <a href="/${tx.to}">${Users[tx.to] || tx.to}</a>
                </td>
                <td class="right">
                    <span class="strong">${tx.data.amount | currency} BLN</span></td>
            </tr>
            <tr ng-if="!isloaded">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
            <tr ng-if="isloaded && block.transactions.length == 0">
                <td colspan="5">
                    No transactions yet.
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
